* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

.container {
    display: flex;
    margin: 0 auto;
    padding: 5% 35%;
    flex-wrap: wrap;
    gap: 10px;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 135px;
    min-height: 75px;
    color: white;
    background-color: rgb(108, 194, 228);
    font-size: 20px;
}

.boxRotate {
    animation: rotate 1.5s ease 1 forwards;
}

.text {
    width: 99%;
    height: 300px;
    resize: none;
    color: white;
    background-color: rgb(108, 194, 228);
    font-size: 24px;
    border: none;
}

.start-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: rgb(108, 194, 228);
    font-size: 24px;
    padding: 15px 30px;
    border: none;
    cursor: pointer;
    margin: 0 auto;
}

@keyframes rotate {
    from {
        transform: rotateX(0);
    }

    to {
        transform: rotateX(180deg);
    }
}
